@import "./commons.scss";

.menuButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;

  .hamburgerIcon {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 68px;
  }
}

.SideBarMenu {
  z-index: 1;
  background-color: #0f172a;
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  align-items: center;
  @include transition(width);

  &.expanded {
    width: 100%;
  }

  &.collapsed {
    width: 0px;
    margin-left: -20px;
  }
}
