@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "cursiva";
  src: url("../public/cursiva.otf");
}

input {
  color: black;
}

body {
  color: white;
  background-color: #001c32;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}

.bg-green-500 {
  background-color: #48bb78;
}

.bg-red-500 {
  background-color: #f56565;
}

.option-button {
  padding: 10px 20px;
  margin: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.corazon {
  animation: latido 1s ease infinite;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
