@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "cursiva";
  src: url("../public/cursiva.otf");
}

input {
  color: black;
}

body {
  color: white;
  background-color: #001c32;
  max-width: 1024px;
  margin: 0 auto;
}